<main>
  <div class="content">
    <app-statistics></app-statistics>

    <section class="main-section">
      <div class="send-sms box">
        <app-send-sms></app-send-sms>
      </div>

      <div class="right-panel">
        <div class="devices box">
          <app-devices></app-devices>
        </div>

        <a href="" target="_blank">
          <div class="download-apk box">
            <span class="material-icons android-logo">android</span>
            <div class="apk-info">
              <h1>SMSgateway</h1>
              <div class="file-info">
                <div class="info">
                  <span class="material-icons">description</span>
                  <h4>smsgateway.apk</h4>
                </div>

                <div class="info">
                  <span class="material-icons">crop_free</span>
                  <h4>7.04 MB</h4>
                </div>
              </div>
            </div>

            <span class="material-icons download-icon">download</span>
          </div>
        </a>
      </div>
    </section>
  </div>
</main>
